button, label, image{
	margin-top: 10;
	margin-right: 5;
	margin-left: 5;
}

page{

    background-color: #ffe0b2;
   /* #ffebee   #ffe082 */
}

    .main{
        background-image: url("~/img/confetti2.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

ActionBar {
    background-color: #ff5722;
    color: white;
}

Image{
    display: block;
    width: 200;
    height: 150;
}

.profile-btn{
    font-size: 14;
    horizontal-align: center;
    /*    background-color: #2196f3;*/
}

.profile-label{
	horizontal-align: center;
}

label{
	color: #1a237e;
    font-size:18;
	font-family: IndieFlower;
}

textfield{
    height: 50;
    width: 400;
    font-style:italic;
    font-family: ArchitectsDaughter;
    font-size: 16;
}

#welcome-text{
    font-size: 24;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20;
}

/*#logInButton{
    display:block;
    background-color: #3f51b5;
}*/

.editBtn{
    font-size: 20;
    height: 40;
    width: 40;
    font-family: FontAwesome;
}

.fields{
    font-family:ArchitectsDaughter;
}

.friend{
    margin: 2,2,2,2 ;
    width:300;
}

.name{
    font-weight: bold;
}

.friendImg{
    width: 100;
    height: 75;
    margin: 5, 5, 5, 5 ;
}

.addFriendButton{
    height: 50;
    margin: 5, 5, 5, 5 ;
}

.addFriendBirthday{
    height: 50;
    width: 400;
    color: gray;
    font-style:italic;
    font-family: ArchitectsDaughter;
    font-size: 16;
}